html{
    font-size: 18px;
    line-height: 1.4rem;
}

body{
    width: 100%;
    margin: auto;
    font-family:  Helvetica ,Arial, sans-serif;
}

/* header section */

header{
    width: 100%;
    margin: auto;
    display: flex;
    height: 30rem;
    background-image: url(../images/glasses-bg.png);
    background-position: 25%;
    flex-direction: column;
}

/* navbar and logo section */

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    width:960px;
    height: 3rem;
    background-color: cadetblue;
    color: white;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 1.5rem;
    padding: 1rem 2rem 1rem 1rem;
}

.logo span{
    font-size: 1rem;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 2rem;
}

li{
    padding: 0 2rem;
}

/* headline section */

.container01{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 30rem;
}

.headline{
    display: flex;
    background-color: white;
    color: black;
    width: 50%px;
    height: 5rem;
    margin-right: 6rem;

}

.headline h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 5rem;
}

/* main section */

main{
    width: 100%;
    margin: auto;
    background-color: azure;
}

.optics{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* icon section */

.container02{
    width: 800px;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.holder{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;

}

/* text under icons */

.container03{
    width: 800px;
    margin-top:0;
    justify-content: center;
    flex-direction: row;
}

.holder-text{
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;

}

/* subtitle blocks */

.container04{
    display: flex;
    width: 800px;
    margin-top:3rem;
    justify-content: center;
    flex-direction: row;
}

.block{
   display: flex;
   width: 800px;
   justify-content: space-around;
}

.tilt{
   display: flex;
   padding: 0.5rem 1.25rem;
   align-items: center;
   background-color: cadetblue;
   color: white;
}

.block h2{
   font-size: 1.25rem;
}

/* text section */

.container05{
   display: flex;
    width: 800px;
    margin-top:3rem;
    justify-content: center;
    flex-direction: row;
}

.holdem{
     display: flex;
   width: 650px;
   justify-content: space-around;
}

.text{
    padding: 3rem 5rem;
    display: flex;
   padding: 0.5rem 1.25rem;
   align-items: center;
}
